<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
		th:href=@{/css/bootstrap.min.css}/>
</head>
<body>
	<div class="container mt-4 mb-4" layout:fragment="content">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5>Gestion des films</h5>
					</div>
					<div class="col-auto">
						<a class="btn btn-outline-primary"
						   th:href="@{addFilm}">+</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form th:action="@{films}" method="get">
					<div class="row mb-3">
						<div class="col">
							<input type="text" class="form-control" name="keyWord"
								th:value="${keyWord}" placeholder="Titre du film"/>
						</div>
						<div class="col-auto">
							<button class="btn btn-outline-primary" 
								>Search</button>
						</div>
					</div>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre</th>
							<th>Description</th>
							<th>Realisateur</th>
							<th>DateSortie</th>
							<th>Duree</th>
							<th>Image</th>
							<th>Categorie</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="film:${pageFilms.content}">
							<td th:text="${film.id}"></td>
							<td th:text="${film.titre}"></td>
							<td th:text="${film.description}"></td>
							<td th:text="${film.realisateur}"></td>
							<td th:text="${film.dateSortie}"></td>
							<td th:text="${film.duree}"></td>
							<td th:text="${film.photo}"></td>
							<td th:text="${film.categorie?.name}"></td>
							<td>
								<a class="btn btn-outline-info"
									th:href="@{editFilm(id=${film.id})}">Edit</a>
							</td>
							<td>
								<a onclick="javascript:return confirm('Etes vous sure ?')"
									class="btn btn-outline-danger"
									th:href="@{deleteFilm(id=${film.id},
									page=${currentPage}, size=${size}, keyWord=${keyWord})}">
								Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}">
						<a th:class="${status.index==currentPage}?'btn btn-primary':'btn'"
						   th:href="@{films(page=${status.index}, size=${size},
						   keyWord=${keyWord})}"
						   th:text="${status.index}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>