<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
		th:href=@{/css/bootstrap.min.css}/>
</head>
<body>
	<div class="container mt-4 mb-4 col-md-6" layout:fragment="content">
		<div class="card">
			<div class="card-header">
				<h5>Modifier la categorie</h5>
			</div>
			<div class="card-body">
				<form th:action="@{saveCategory}" method="post">
					<div class="form-group">
						<input type="hidden" name="id" th:value="${category.id}"/>
						<label>ID</label>
						<input type="text"
							class="form-control" th:value="${category.id}" disabled/>
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="text" placeholder="Nom de la categorie" name="name"
							class="form-control" th:value="${category.name}" required/>
					</div>
					<button type="submit" class="btn btn-primary">Enregistrer</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>